<div class="flex justify-center items-center h-screen bg-slate-900">
    <form class="w-60 p-4 border rounded ">

  <div class="mb-3">
    <label class="block mb-1 text-white">Name</label>
    <input
      type="text"
      class="w-full border p-2 rounded"
    >
  </div>

  <div class="mb-3">
    <label class="block mb-1 text-white">Email</label>
    <input
      type="text"
      class="w-full border p-2 rounded"
    >
  </div>

  <div class="mb-3">
    <label class="block mb-1 text-white">Phone</label>
    <input
      type="text"
      class="w-full border p-2 rounded"
    >
  </div>

  <button
    type="submit"
    class="bg-blue-500 text-white px-4 py-2 rounded"
  >
    Submit
  </button>

</form>
</div>